body { 

   font-family: Arial;
   font-size: medium;

}


#container {
    display: grid;
    grid-template-columns: 25% 75%;
}

#lateral {
    grid-column: 1/2;
    grid-row: 1;
    position: fixed;
    top: 20%;
}

.divparte{

    grid-column: 2/2;
   
}